<h1 class="titlez"> New Comment </h1>
<%= form_for [@post,@comment] do |f| %>
  <div class="field">

    <%= f.text_area :content, :cols => 20, :rows => 5, :class => "forms", autofocus: true, :class => "commentnote" %>
  </div></br>

  <div class="actions">
    <%= f.submit "Post" %>
    </div>
  <% end %>
