<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <div class="alert alert-info">
      <p class=text-left>Title: <%= post.title %></p>
      <p class=text-left><%= post.content %></p>

      <% if current_user %>
        <% if post.user == current_user %>
          <p class="text-right">
            <%= link_to "Delete this post", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
dfasdasfas
